%nav
  %ul
    %li= link_to "Home", root_path
    %li= link_to "Contact", contact_path
    %li= link_to "Events", events_path
    %li= link_to "Members", members_path
    %li= link_to "Officers", officers_members_path
    %li= link_to "History", history_path
